.header {
    display: flex;
    justify-content: left;
    margin-top: 3rem;
    margin-left: 5rem;
}

.logo {
    height: 3rem;
    justify-content: center;
    margin-right: 7rem;
}

.navegacao {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

@media (max-width: 744px) {
    .navegacao {
        height: 72px;
    }
}