.header {
    display: flex;
    justify-content: left;
    margin-top: 3rem;
    margin-left: 5rem;
}

.logo {
    height: 2.5rem;
    justify-content: center;
    /* margin-right: 7rem; */
}

.navegacao {
    margin-left: 15vw;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

@media (max-width: 744px) {
    .navegacao {
        height: 72px;
    }
}